paper-spinner {
    height: 64px;
    width: 64px;

    --paper-spinner-stroke-width: 8px;

    --paper-spinner-layer-1-color: #2196F3;
    --paper-spinner-layer-2-color: #F44336;;
    --paper-spinner-layer-3-color: #FFEB3B;;
    --paper-spinner-layer-4-color: #4CAF50;;
}

a {
    color: #00BCD4;
    text-decoration: none;
}
a:hover {
    color: #00ACC1;
    text-decoration: underline;
}

#base_datalet_container {
    position: relative;

    height: 72px;
    /*background-color: red;*/
    margin-top: 8px;
    /*padding-top: 2px;*/
    border-top: 2px solid #B6B6B6;
    display: var(--base-datalet-visibility, block);
}
#base_datalet_container > * {
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;

    color: #212121;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#base_datalet_title_description {
    /*display: flex;*/
    /*flex-direction: row;*/
    /*max-height: 24px;*/
    height: 24px;
}

#span_title{
    font-weight: 700;
    /*padding-right: 8px;*/
}

#span_description{
    /*font-style: italic;*/
    color: #424242;
    /*padding-right: 8px;*/
}

/*#span_description:not(:empty):before {
    /*content: " - ";*/
/*}*/

#base_datalet_source_link {
    display: flex;
    height: 24px;
}

span#ajax_error {
    position: absolute;
    top: -34px;
    right: 0;

    color: #F44336;
    background-color: #E0E0E0;
}

#base_datalet_rtp {
    display: flex;
    height: 24px;
}

#rtp {
    font-size: 14px;
    line-height: 24px;
    padding-right: 8px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#rtpalogo {
    height: 24px;
    width: 24px;
}

#base_datalet_spinner {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
    min-height: 400px;
}

#base_datalet_link {
    cursor: pointer;
}

/*EXPORT*/
.export
{
    position: absolute;
    right: 24px;
    top: 0;
    height: 24px;
    width: 24px;
    cursor: pointer;

    background: url("../images/more.svg") no-repeat 0 0;
}

.export:hover {
    /*color: #2196F3;*/
    background: url("../images/more_blue.svg") no-repeat 0 0;
}

.highcharts-contextmenu
{
    position: absolute;
    bottom: 52px;
    right: 48px;
    font-size: small;
    border: solid 1px #000000;

    display: none;

    background-color: #FFFFFF;
}

.highcharts-contextmenu-container div
{
    cursor: pointer;
    padding: 0px 4px;
    font-size: 11px;
    line-height: 15px;
}

.highcharts-contextmenu-container div:hover
{
    background: #00BCD4;
}
/*EXPORT*/

/* EXPORT TO HTML */
.export_html_textarea {
    margin-top: 36px;
    height: 200px;
}

.button-close {
    display: inline-block;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAAowAAAKMB8MeazgAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAB5SURBVDiNrZPRCcAwCEQfnUiySAZuF8kSWeH6Yz8KrQZMQAicJ+epAB0YwAmYJKIADLic0/GPPCbQAnLznCd/4NWUFfkgy1VjH8CryA95ApYltAiTRCZxpuoW+gz9WXE6NPeg+ra1UDIxGlWEObe4SGxY5fIxlc75Bkt9V4JS7KWJAAAAAElFTkSuQmCC59ef34356faa7edebc7ed5432ddb673d');
}

.overlay {
    display:none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    z-index: 1000000;
}

.modal-content {
    padding: 20px 30px;
    width: 600px;
    position: relative;
    min-height: 300px;
    margin: 5% auto 0;
    background: #fff;
}
/* EXPORT TO HTML */

#refresh
{
    position: relative;
    left: 4px;
    /*position: absolute;*/
    /*right: 48px;*/
    /*top: 0;*/
    height: 24px;
    width: 24px;
    cursor: pointer;
}

#img_refresh {
    height: 24px;
    width: 24px;

    /*transition-duration: 4s;*/

    /*-webkit-animation: spin 1s linear infinite;*/
    /*animation: spin 1s linear infinite;*/
}

#dataLoader {
    /*display: none;*/
    /*margin: 8px auto;*/
    margin: 2px;
    border: 2px solid #BDBDBD;
    border-radius: 50%;
    border-top: 2px solid #F44336;
    width: 16px;
    height: 16px;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

#dataLoader.live {
    border-top: 2px solid #4CAF50;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#fullscreen_placeholder, #export_placeholder
{
    display: none;
}

#fullscreen
{
    position: absolute;
    right: 0;
    top: 0;
    height: 24px;
    width: 24px;
    cursor: pointer;

    background: url("../images/fullscreen.svg") no-repeat 0 0;
}

#fullscreen:hover {
    /*color: #2196F3;*/
    background: url("../images/fullscreen_blue.svg") no-repeat 0 0;
}

.cover {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9000;
}

.close {
    position: fixed;
    top: 30px;
    right: 30px;
    height: 40px;
    width: 40px;
    background: url("../images/close.svg") no-repeat 0 0;

    background-color: #00BCD4;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);

    border-radius: 50%;

    line-height: 56px;
    font-size: 32px;
    color: #212121;
    text-align: center;
    cursor: pointer;

    z-index: 9002;
}

.close:hover {
    background-color: #00ACC1;
}

.panel
{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 48px;
    background-color: red;
}

#iframe_fullscreen, #iframe_export {
    position: fixed;
    top: 48px;
    left: 48px;
    height: calc(100% - 96px);
    width: calc(100% - 96px);

    background-color: white;
    z-index: 9001;
}

#iframe_export
{
    height: calc(100% - 96px - 48px);
}

#datalet_container {
    width: 100%;
    min-height: 400px;
    height: var(--datalet-container-size, calc(100% - 82px));

    z-index: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* SOCIAL */

#social
{
    /*display: none;*/
    position: absolute;
    right: 0;
    bottom: 0;
    height: 24px;
    width: 80px;
    cursor: pointer;

    display: flex;
    flex-direction: row;

    /*background-color: red;*/
}

#twitter
{
    height: 24px;
    width: 24px;
    cursor: pointer;

    background: url('../images/twitter.svg') no-repeat 2px 2px;
    background-size: 20px 20px;

    margin-right: 4px;
}

#twitter:hover {
    background: url("../images/twitter_hover.svg") no-repeat 2px 2px;
    background-size: 20px 20px;
}

#facebook
{
    height: 24px;
    width: 24px;
    cursor: pointer;

    background: url("../images/facebook.svg") no-repeat 2px 2px;
    background-size: 20px 20px;

    margin-right: 4px;
}

#facebook:hover {
    background: url("../images/facebook_hover.svg") no-repeat 2px 2px;
    background-size: 20px 20px;
}

#googleplus
{
    height: 24px;
    width: 24px;
    cursor: pointer;

    background: url("../images/google-plus.svg") no-repeat 2px 2px;
    background-size: 20px 20px;
}

#googleplus:hover {
    background: url("../images/google-plus_hover.svg") no-repeat 2px 2px;
    background-size: 20px 20px;
}