a {
    color: #00BCD4;
    text-decoration: none;
}
a:hover {
    color: #00ACC1;
    text-decoration: underline;
}

#base_datalet_container {
    position: relative;

    height: 72px;
    margin-top: 8px;
    border-top: 2px solid #B6B6B6;
    display: var(--base-datalet-visibility, block);
}

.highcharts-container, .highcharts-root {
    width: 100% !important; /*export png*/
}

#base_datalet_container > * {
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;

    color: #212121;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#base_datalet_title_description {
    height: 24px;
}

#span_title{
    font-weight: 700;
}

#span_description{
    color: #424242;
}

#base_datalet_source_link {
    display: flex;
    height: 24px;
}

span#ajax_error {
    position: absolute;
    top: -34px;
    right: 0;

    color: #F44336;
    background-color: #E0E0E0;
}

#base_datalet_rtp {
    display: flex;
    height: 24px;
}

#rtp {
    font-size: 14px;
    line-height: 24px;
    padding-right: 8px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#rtpalogo {
    margin-top: 4px;
    margin-left: -4px;
    height: 16px;
    width: 16px;
}

#base_datalet_loader {
    width: 200px;
    height: 200px;

    background: url("../images/loader.gif") no-repeat 0 0;
}

#base_datalet_link {
    cursor: pointer;
}

/*EXPORT*/
#export .export
{
    position: absolute;
    right: 24px;
    top: 0;
    height: 24px;
    width: 24px;
    cursor: pointer;

    text-align: center;
}

.fas.fa-bars, .fas.fa-expand {
    font-size: 16px;
    line-height: 24px !important;
    color: #212121;
}

.fas.fa-bars:hover, .fas.fa-expand:hover {
    color: #2196F3;
}

.highcharts-contextmenu
{
    position: absolute;
    bottom: 52px;
    right: 48px;
    font-size: small;
    border: solid 1px #000000;

    display: none;

    background-color: #FFFFFF;
}

.highcharts-contextmenu-container div
{
    cursor: pointer;
    padding: 0 4px;
    font-size: 11px;
    line-height: 15px;
}

.highcharts-contextmenu-container div:hover
{
    background: #00BCD4;
}
/*EXPORT*/

#refresh
{
    position: relative;
    left: 4px;
    height: 24px;
    width: 24px;
    cursor: pointer;
}

#img_refresh {
    height: 16px;
    width: 16px;
    margin-top: 4px;

    /*transition-duration: 4s;*/

    /*-webkit-animation: spin 1s linear infinite;*/
    /*animation: spin 1s linear infinite;*/
}

#fullscreen
{
    position: absolute;
    right: 0;
    top: 0;
    height: 24px;
    width: 24px;
    cursor: pointer;

    text-align: center;

    display: var(--fullscreen-visibility, block);
}

#fullscreen_placeholder, #export_placeholder, #export_html_placeholder
{
    display: none;

    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9000;

    background-color: rgba(0, 0, 0, 0.5);
}

.preview_container {
    position: relative;
    top: 48px;
    left: 48px;
    width: calc(100% - 96px);
    height: calc(100% - 96px);

    overflow: auto;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #efefef;
}

#export_placeholder .preview_container {
    position: relative;
    top: 0;
    left: 0;
    min-width: calc(100% - 16px);
    min-height: calc(100% - 48px - 16px);
    padding: 8px;

    overflow: auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

#iframe_fullscreen, #iframe_export {
    width: 100%;
    min-width: 400px;
    /*max-width: 100%;*/

    height: 100%;
    min-height: 400px;
    /*max-height: 100%;*/

    background-color: white;
}

.export_container {
    width: calc(100% - 96px);
    height: calc(100% - 96px);
    margin: 48px;
}

.export_html {
    background-color: #efefef;
}

.export_html textarea {
    margin: 16px;
    height: calc(100% - 32px);
    width: calc(100% - 32px);
}

.export_options
{
    padding: 0 16px;
    line-height: 47px;
    font-size: 14px;
    width: calc(100% - 32px);
    height: 47px;
    border-top: 1px solid #2196F3;
    background-color: #efefef;
}

.export_options input {
    margin: 0 8px;
    width: 120px;
}

.export_options button {
    cursor: pointer;
    margin-left: 4px;
}

.export_options select {
    font-family: 'Font Awesome 5 Brands', 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0 8px;
    /*padding: 1px 0;*/
    background-color: #fff;
    height: 21px;
    width: 120px;
}

.export_options #preview_resize {
    margin-left: 8px;
}

.export_options .twitter, .export_options .facebook, .export_options .googleplus {
    border: none;
    margin: 0;
    padding: 0;
}

.close {
    position: fixed;
    top: 30px;
    right: 30px;
    height: 40px;
    width: 40px;

    background-color: #00BCD4;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);

    border-radius: 50%;

    line-height: 40px;
    font-size: 32px;
    font-weight: 700;
    color: #212121;
    text-align: center;
    cursor: pointer;

    font-family: initial !important;

    z-index: 9002;
}

.close:hover {
    background-color: #00ACC1;
}

#datalet_container {
    width: 100%;
    min-width: 400px;
    min-height: 400px;
    height: var(--datalet-container-size, calc(100% - 82px));

    z-index: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* SOCIAL */

.social
{
    position: absolute;
    right: 0;
    bottom: 0;
    height: 24px;
    width: 96px;
    cursor: pointer;

    display: flex;
    flex-direction: row;
}

.social .facebook, .social .twitter, .social .googleplus {
    height: 24px;
    width: 24px;
    cursor: pointer;
    font-size: 24px;

    margin-left: 8px;

    /*color: #BDBDBD;*/
    opacity: 0.7;
}

.social .facebook:hover, .social .twitter:hover, .social .googleplus:hover {
    opacity: 1;
}

.facebook {
    color: #4862A3;
}

.twitter {
    color: #55ACEE;
}

.googleplus{
    color: #DC4E41;
}

.instagram {
    color: #fb3958;
}

.pinterest {
    color: #c8232c;
}

.linkedin {
    color: #0077B5
}