button.outside {
    display: none;

    position: absolute;
    top: 16px;

    height: 48px;
    width: 172px;
    padding: 12px;

    cursor: pointer;

    border: none;
    border-radius: 5px;

    background-color: #00BCD4;
    color: #FFFFFF;

    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 700;

    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

button.outside:hover {
    background-color: #00ACC1;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

button.outside:disabled {
    opacity: 0.5;
}

#copy_html {
    right: 16px;
}

#save_img {
    right: 204px;
}

#fullscreen_preview {
    right: 392px;
}