#qualicy-container {
    width: 100%;
    height: 100%;
    min-width: 800px;
    min-height: 600px;

    display: flex;
    flex-direction: row;

    background-color: #FFFFFF;
}

#qualicy-table {
    width: 75%;
    height: 100%;

    padding: 8px;
    border-right: 8px solid #9e9e9e;

    overflow-y: auto;
    overflow-x: hidden;
}

#qualicy-menu {
    width: 25%;
    height: 100%;

    /*background-color: #FFFFFF;*/
}

#qualicy-menu i {
    font-size: 24px;
    color: blueviolet;
    padding: 8px;
}

/* TABLE */

td, th {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 300px;
}

td {
    position: relative;
}

td.metadatatypeInconsistency, td.typo, td.contentPrivacyBreach,td.datatypeInconsistency {
    transition: background-color 0.5s linear;
}

td::after{
    content: '';
    position: absolute;
    top: 2px;
    right: 2px;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    /*border-color: #2196f3 #9c27b0 #ff9800 #4caf50;*/
    border-radius: 50%;
}

td.datatypeInconsistency::after{
    border-color: #e0e0e0;
    border-top-color: #2196f3 !important;
}

td.metadatatypeInconsistency::after{
    border-color: #e0e0e0;
    border-right-color: #9c27b0 !important;
}

td.contentPrivacyBreach::after{
    border-color: #e0e0e0;
    border-bottom-color: #ff9800 !important;
}

td.typo::after{
    border-color: #e0e0e0;
    border-left-color: #4caf50 !important;
}

td.focus{
    background-color: #ffff00;
}

/* END TABLE */

.tab-menu {
    position: relative;
    width: 100%;
    height: 43px;
    line-height: 18px;
    padding: 12px;
    text-align: center;
    font-weight: 700;
    background-color: #f2f2f2;
    border-bottom: 1px solid #dee2e6;
    /*cursor: pointer;*/
}

.tab-menu:after {
    content: '';
    position: absolute;
    top: 5px;
    right: 5px;
    width: 0;
    height: 0;
    border: 16px solid #e0e0e0;
    border-radius: 50%;
}

#type-menu:after {
    border-top-color: #2196f3 !important;
}

#metatype-menu:after {
    border-right-color: #9c27b0 !important;
}

#privacy-menu:after {
    border-bottom-color: #ff9800 !important;
}

#typo-menu:after {
    border-left-color: #4caf50 !important;
}

.collapsible-container {
    width: 100%;
    height: 85px;
    padding: 30px 0;
    text-align: center;
    font-size: 24px;
    line-height: 24px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #dee2e6;
}

.collapsible-container span.counter {
    display: inline-block;
    width: 84px;
}

.collapsible-container .fas {
    cursor: pointer;
}

.collapsible-container .fas.disabled {
    cursor: auto;
    opacity: 0.5;
}

#type-container .fas {
    color: #2196f3;
}

#metatype-container .fas {
    color: #9c27b0;
}

#privacy-container .fas {
    color: #ff9800;
}

#typo-container .fas {
    color: #4caf50;
}



#qualicy-menu .title{
    float:left;
}

#qualicy-menu .content{
    float:right;
}